<%- include('../partials/header') %>


<main class="main" id="cssMain">
    <div class="container">
        <h1 class="header text-center text-light">
            CSS Color Archive 
        </h1>
        <p class="text-center text-light">Click here to <a href="/colors" id="lookId">look</a></p>
    </div>
</main>

<%- include('../partials/footer') %>